<!-- partials/experiencie-item.hbs -->
<div class="row mt-2">
    <div class="col-12">
        <h2 class="mb-1">({{temporality}}) {{title}}</h2>
    </div>
    <div class="col-12">
        <span class="normal-text">
            {{where}}
        </span>
    </div>
</div>
