
{{#if (is-not-empty educations)}}
    <div class="row pls-not-break-class">
        <div class="col-12 mt-4 pls-not-break-class">
            <h1 class="color-primary pls-not-break-class">Educacion</h1>
        </div>
    </div>

    {{#each educations}}
        {{> educationItem temporality=this.temporality
        title=this.title where=this.where }}
    {{/each}}
{{/if}}
