{{#if (is-not-empty languages)}}
  <div class='row pls-not-break-class'>
    <div class='col-12 mt-4 pls-not-break-class'>
      <h1 class='color-primary pls-not-break-class'>Lenguajes</h1>
    </div>
  </div>
  <div class='row mt-2 pls-not-break-class'>
    <div class='col-12 pls-not-break-class'>
      <ul class='none-style-list horizontal-list normal-text pls-not-break-class'>
        {{#each languages}}
          {{#if (is-not-empty this.level)}}
            <li class="pls-not-break-class"><b>{{this.name}}:</b><span class="mx-2">{{this.level}}</span></li>
          {{else}}
            <li class="pls-not-break-class"><b>{{this.name}}</b></li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
{{/if}}